/**
 * Colors
 * @type {[type]}
 */
body{
  background-color: white;
}
.red {
  background-color: #D32F2F !important;
}
.black {
  background-color: #000000 !important;
}

.font-white{
  color: #ffffff !important;
}

.wrapper{

position: relative;



}

.content{
    width: 900px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    left 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform-origin: top left;
    -ms-transform-origin: top left;
    overflow: hidden;
    background-color: white;
}

circle:hover {
  cursor: pointer;

}


#dialog{
  position: absolute;
  z-index: 101;
  top: 1000px;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
}

#dialog-content{
  width: 600px;
  height: 400px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
}

#timeline{
  position: absolute;
  width: 900px;
  top: 530px;
  z-index: 12;
  background-color: white;
}


/**
 * Button
 */

 .mdl-button {
     background: 0 0;
     border: none;
     border-radius: 2px;
     color: #000;
     position: relative;
     height: 36px;
     margin: 0;
     min-width: 64px;
     padding: 0 16px;
     display: inline-block;
     font-family: "Roboto","Helvetica","Arial",sans-serif;
     font-size: 14px;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 0;
     overflow: hidden;
     will-change: box-shadow;
     transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
     outline: none;
     cursor: pointer;
     text-decoration: none;
     text-align: center;
     line-height: 36px;
     vertical-align: middle;
 }

 .mdl-button--raised {
    background: rgba(255,255,255,1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.float-right {
  float: right;
}

/**
 * tineline block
 */

.timeline-block {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 530px;
    background-color: black;
    z-index: 999;
    opacity: 0;
}

.tires-take-shape {
    width: 307px;
    height: 22px;
    position: absolute;
    top: 508px;
    left: 0px;
    background-color: d1;
    z-index: 500;
    opacity: 1;
    text-align: center;
    font-family: 'Roboto-Regular';
    color: white;
    vertical-align: middle;
    font-size: 18px;
}

.tires-evolution {
    width: 284px;
    height: 22px;
    position: absolute;
    top: 508px;
    left: 308px;
    background-color: d1;
    z-index: 500;
    opacity: 1;
    text-align: center;
    font-family: 'Roboto-Regular';
    color: white;
    vertical-align: middle;
    font-size: 18px;
}

.tires-modern-era {
    width: 307px;
    height: 22px;
    position: absolute;
    top: 508px;
    left: 593px;
    background-color: d1;
    z-index: 500;
    opacity: 1;
    text-align: center;
    font-family: 'Roboto-Regular';
    color: white;
    vertical-align: middle;
    font-size: 18px;
}



/**
 * Tire Spin
 */
.tire{
  height: 364px;
  width: 362px;
  background-image: url(images/tire-spin_01.png);
  position: absolute;
  z-index: 100;
  top: 148px;

}

.timeline-bg{
  position: absolute;
  z-index: 10;
}


/**
 * Tool Tip
 */
