h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

.container {
    width: 900px;
  /**  height: 500px;**/
    display: block;
  /**  background: linear-gradient(to top, rgba(153,153,153,.90), rgba(51,51,51,.35));**/
    position: relative;
    margin: 0 auto;
}

.containerAll {
    width: 900px;
  /**  height: 1000px;**/
    display: block;
    background: linear-gradient(to top, rgba(153,153,153,.90), rgba(51,51,51,.35));
    position: relative;
    margin: 0 auto;
}

#ulMargin {
    margin: 10px 20px 0px 20px;
}

.left {
    position: relative;
    margin: 0 auto;
    width: 75%;
    text-align: left;
    float: left;
}

.right {
    position: relative;
    margin: 0 auto;
    width: 25%;
    text-align: center;
    float: right;
}

ul {
    display: inline-block;
    margin: 0 auto;
}

li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
}

.versus {
  font-weight: bold;
  font-size: 1.15rem;
  color: #ed1c24;
  text-transform: uppercase;
}

.label {
  margin: 0 auto;
  padding: 30px 0px 50px 0px;
  text-transform: uppercase;
  color: #111;
}

/*#fuel {
    background-color: #ed1c24;
}

#tread {
    background-color: #39894b;
}

#fuelTread {
    background-color: #ed1c24;
}

#looseSnow {
    background-color: #39894b;
} *

#looseIceSnow {
    background-color: #ed1c24;
}

#tireNoise {
    background-color: #39894b;
}

#handlingTire {
    background-color: #ed1c24;
}

#comfortTire {
    background-color: #39894b;
}

#wetDry {
    background-color: #ed1c24;
}

#aquaplaning {
    background-color: #39894b;
}

*/

/* Sliders */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    outline: none;
    opacity: 0.7;
    transform: rotate(270deg);
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: #333;
}

.slider-selection {
    backgorund-color: #00aeef;
}

.slider-track-low {
    background-color: #ed1c24;
}

.slider-track-high {
    background-color: #39894b;
}

.slider:hover {
    opacity: 1;
}

/* slider thumb (ie, safari, chrome)  */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 100px;
    background: #d2d2d2;
    border-radius: 3px;
    border-left: 1px solid #333;
    cursor: pointer;
}

/* slider thumb specific (mozilla)  */
.slider::-moz-range-thumb {
    width: 100px;
    height: 25px;
    background: #d2d2d2;
    border-radius: 3px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

/* RESET Button */
.reset {
    width: 80px;
    height: 80px;
    color: #fff;
    text-transform: uppercase;
    background: #ed1c24;
    text-align: center;
    margin: 100px 60px 0px 40px;

}

.reset:hover {
    color: #fff;
    background: #333;
    transition: ease, .2s;
    -webkit-transition: ease, .2s;
}
